@{
    ViewData["Title"] = "Employees";
}

<header class="pageheader">
    <h3><i class="fa fa-users"></i> @ViewData["Title"] </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> @ViewData["Title"] </li>
        </ol>
    </div>
</header>
<div id="page-content">

    <table class="table table-striped table-bordered" id="employeesTable"></table>

    </div>