@{
    ViewData["Title"] = "News";
}

<header class="pageheader">
    <h3><i class="fa fa-file"></i> @ViewData["Title"] </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> @ViewData["Title"] </li>
        </ol>
    </div>
</header>
<div id="page-content">




</div>